.nav {
  background-color: $accenttwo;
  font-family: sans-serif;
  text-align: left;

  ul {
    @include shift(1);

    li {
      display: inline-block;
      margin: 1em 1em 0 1em;
      
      &:first-letter {
        text-decoration: underline;
      }
      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: darken(white, 90%);
        }
      }
    }
  }
}

.index-title {
  @include outer-container;
  padding-top: 15px;
  
  aside {
    @include span-columns(1);
    min-width: 62px;
    margin-left: 10px;
    img {
      border-radius: 15px;
    }
  }
  
  .title-heading {
    @include span-columns(9);
    @include omega();

    .name-brand {
      font-size: 2em;
      height: 1.2em;
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding-top: 0;
    }
  }
}
