h1 {
  font-size: 2em; 
  margin-top: 0.5em;
  color: $htags;

  &:before {
    content: "* ";
    color: $accentfour;
  }
}

h2 {
  font-size: 1.5em; 
  line-height: 2em;
  color: $htags;

  &:before {
    content: "** ";
    color: $accentfour;
  }
}

h3 {
  font-size: 1.17em; 
  color: $htags;

  &:before {
    content: "*** ";
    color: $accentfour;
  }
}

h4 {
  font-size: 1.12em; 
  color: $htags;

  &:before {
    content: "**** ";
    color: $accentfour;
  }
}

h5 {
  font-size: .83em; 
  color: $htags;

  &:before {
    content: "***** ";
    color: $accentfour;
  }
}

h6 {
  font-size: .75em; 
  color: $htags;

  &:before {
    content: "****** ";
    color: $accentfour;
  }
}

strong {
  color:       lighten($base-font-color, 10);
  font:        serif;
  font-size:   1.2em;
  font-weight: 900;
}

ul li {
  list-style: circle;
  margin-left: 2em;
}

ol li {
  list-style: decimal;
  margin-left: 2em;
}

blockquote {
  border-left-style: solid;
  border-left-color: $accentone;
  p {
    padding-left: 1em;
  }
}

img {
  display: block;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
}

/* code blocks */
code {
  &:before {
    content: "\00a0" ;
  }

  &:after {
    content: "\00a0" ;
  }

  background-color: $accentone;
}

pre.highlight {
  background-color: $accentone;
  padding-left: $gutter;
}
