<div class="nav">
  <ul id="nav_text">
    <li>
      <%= link_to "Home", "/" %>
    </li>
    <li>
      <%= link_to "TechnicalPosts", "/technical.html" %>
    </li>
    <li>
      <%= link_to "About", "/about.html" %>
    </li>
    <li>
      <%= link_to "Contact", "/contact.html" %>
    </li>
  </ul>
</div>
