<h1>About Jason Data</h1>

<p>Well, welcome to my site.  Sit back and relax and prepare for the most amazing time you've ever had in your entire life!  Now, where do I start?</p>

<p>
  From 2013 to now, I've been
  <a href='http://roadbytes.me/personal/2016/08/31/construction-zone-union-square-san-francisco.html'>
    travelling the world
  </a> and I've been taking advantage of what the internet has done for education by
  <strong>learning web development remotely</strong>
</p>

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aUOfdY9uIX8?list=PL9m3RKRZO8HSfqvWcI3l8O-O1TUwFM58W" frameborder="0" allowfullscreen></iframe>
</div>

<p>This site is going to document my adventures of becoming a web developer!</p>

<p>Current Status (updated: August 2017):</p>

<ul>
  <li>
    I'm a husband and new father to the best daughter on the planet.
  </li>
  <li>
    I worked at Vinomofo as the First Graduate Program Grad.
    <a href='https://vinomofo.github.io/hotshots-journal/'>
      Here are some of the notes
    </a>
  </li>
  <li>
     I moved to Melbourne, Australia to help make the internet an even better place and get more experience as a web developer.
  </li>
  <li>
    I'm connecting with family and friends around the world by giving them a chance to
    <a href='https://baby-namer-1800.herokuapp.com/'>
      name my baby. :)
    </a>
  </li>
  <li>
    I developed the backend for <a href='https://www.bid4drivers.com/'>Bid4Drivers.com</a>
  </li>
  <li>
    I'm working on my own site as you can see and practicing my new knowledge with fun projects
  </li>
  <li>
    I'm reaching out to the portal of the internets and meeting other aspiring developers like me
  </li>
</ul>

<br>
<br>
<br>
<br>
<br>
