<h1>About Jason Data</h1>

<p>Well, welcome to my site.  Sit back and relax and prepare for the most amazing time you've ever had in your entire life!  Now, where do I start?</p>

<p>I was born at a young age, the same as every other person who is born.  I was born on my zeroth birthday so I was officially zero, that's pretty freaking young.</p>

<h4>The interesting thing is since that monumental birth, I've done a lot of things including me deciding to pursue Web Development!</h4>

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aUOfdY9uIX8?list=PL9m3RKRZO8HSfqvWcI3l8O-O1TUwFM58W" frameborder="0" allowfullscreen></iframe>
</div>

<p>So, this site is going to document my adventures of becoming a web developer!</p>

<p>Currently:</p>

<ul>
  <li>
    I'm enrolled in Launch School Academy and learning Rails Web Development
  </li>
  <li>
    I'm working on my own site as you can see and practicing my new knowledge with fun projects
  </li>
  <li>
    I'm reaching out to the portal of the internets and meeting other aspiring developers like me
  </li>
</ul>
